# nx-guides is tested on the development branch of NetworkX
git+git://github.com/networkx/networkx@main

# Scientific Python (see networkx/requirements/default.txt)
numpy
scipy==1.8.0rc2
matplotlib
pandas

# For testing and site generation
nbval
sphinx
myst-nb
sphinx-book-theme
jupytext
