# nx-guides is tested on the development branch of NetworkX
git+https://github.com/networkx/networkx@main

# Scientific Python (see networkx/requirements/default.txt)
numpy
scipy
matplotlib
pandas
ipython!=8.7.0

# For testing and site generation
nbval
sphinx
myst-nb
sphinx-book-theme
jupytext

# Notebook requirements
pygraphviz
