# nx-guides is tested on the development branch of NetworkX
git+https://github.com/networkx/networkx@main

# Dependencies for running the tutorials
numpy
scipy
matplotlib
pandas
ipython!=8.7.0
pygraphviz

# For testing and site generation
nbval
sphinx
myst-nb
sphinx-book-theme
jupytext
black
pyupgrade
