name: NetworkX Notebooks

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 12
      matrix:
        os: [Ubuntu-20.04, macOS-latest]
        python-version: [3.8, 3.9, "3.10"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Before install
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          sudo apt-get update
          sudo apt-get install graphviz graphviz-dev
        elif [ "$RUNNER_OS" == "macOS" ]; then
          brew install graphviz pkg-config
        fi
        python3 -m venv ~/venv
        source ~/venv/bin/activate
  
    - name: Install dependencies
      run: |
        pip install pip==21.1.1
        pip install -r requirements.txt
        pip install nbqa black
    - name: Test with nbval
      run: |
        pip install pytest pre-commit
        find content/ -name "*.md" -exec jupytext --to notebook {} \;
        pre-commit run --all-files --show-diff-on-failure --color always
        pytest --nbval-lax content/
